* {
    margin: 0;
    font-family: 'Montserrat';
    text-align: center;
}

*:focus{
    outline: none;
}

header {
    height: 100px;
    background-color: #247ABF;
}

.flex-wrapper {
    display: flex;
}

.flex-wrapper>.reference {
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    flex-grow: 1;
}

header > div p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

header > .flex-wrapper > .reference > .active > a {
    color: black;
}

.logo {
    width: 78px;
    margin-top: 4px;
}

#left_logo {
    margin-left: 28px;
}

#right_logo {
    margin-right: 28px;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: #fff;
}

.container{
    width: 1000px;
    background-color: rgb(206, 204, 204);
    margin: 0 auto 0 auto;
    height: min-content;
}

.text{
    width: 900px;
    padding: 0 50px 50px 50px;
    font-weight: lighter;
}

.text > p {
    text-align: justify;
}

.text > h2{
    text-align: left;
}
