@import url(https://fonts.googleapis.com/css?family=Khula:700);

* {
    margin: 0;
    font-family: 'Montserrat';
    text-align: center;
}

body {
    background-image: url(./images/background_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

*:focus {
    outline: none;
}

header {
    height: 100px;
    background-color: #247ABF;
}

.flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header>div p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

header>.flex-wrapper>.reference>.active>a {
    color: black;
}

.logo {
    width: 78px;
    margin-top: 4px;
}

#left_logo {
    margin-left: 28px;
}

#right_logo {
    margin-right: 28px;
}

a,
a:visited,
a:hover {
    text-decoration: none;
    color: #fff;
}

.container {
    width: 1200px;
    background-color: rgba(206, 204, 204, 0.521);
    margin: 0 auto 0 auto;
    height: min-content;
}

.container>h1 {
    color: #247ABF;
    font-size: 400%;
    line-height: 300%;
}

.text {
    width: 90%;
    padding: 0 50px 50px 50px;
    font-weight: lighter;
    line-height: 250%;
    font-size: 24px;;
}

.text>p {
    text-align: justify;
    text-indent: 6%;
}

.text>h2 {
    text-align: left;
}

.text>h3 {
    text-align: left;
    font-style: italic;
    font-weight: lighter;
    text-decoration: underline;
}


.console-container {
    font-size: 40px;
    text-align: center;
    height: 50px;
    width: 700px;
    display: block;
    color: rgb(0, 0, 0);
    margin: auto;
    padding: 25px;
}

.console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
}

.hidden {
    opacity:0;
  }