* {
    margin: 0;
    font-family: 'Montserrat';
    text-align: center;
    outline:
}

body {
    background-image: url(../main/images/genetic.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: 100px;
    background-color: #247ABF;
}

.flex-wrapper {
    display: flex;
}

.flex-wrapper>.reference {
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    flex-grow: 1;
}

header>div p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

a,
a:visited,
a:hover {
    text-decoration: none;
    color: #ffff;
}

header>.flex-wrapper>.reference>.active>a {
    color: black;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.logo {
    width: 78px;
    margin-top: 4px;
}

#left_logo {
    margin-left: 28px;
}

#right_logo {
    margin-right: 28px;
}

#canvas {
    background-color: rgba(212, 220, 233, 0.767);
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    /* border: 5px solid black; */
}

.wrapper {
    margin-top: 1%;
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.toolbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 50px;
}

.button {
    appearance: none;
    color: white;
    border: 0;
    border-radius: 10px;
    background: #247ABF;
    font-size: 16px;
    font-weight: lighter;
    margin: 7px auto 5px auto;
    text-align: center;
    display: block;
    width: 300px;
    height: 50px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #cbd6ee;
}
