* {
    margin: 0;
    font-family: 'Montserrat';
    text-align: center;
    outline: none;
}

body {
    background-image: url(../main/images/star.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#table_container {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

/* * {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
} */

header {
    height: 100px;
    background-color: #247ABF;
}

.flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header>div p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

.logo {
    width: 78px;
    margin-top: 4px;
}

#left_logo {
    margin-left: 28px;
}

#right_logo {
    margin-right: 28px;
}

a,
a:visited,
a:hover {
    text-decoration: none;
    color: #fff;
}

header>.flex-wrapper>.reference>.active>a {
    color: black;
}

.content {
    margin-top: 5px;
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.toolbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    appearance: none;
    border: 0;
    border-radius: 10px;
    font-weight: lighter;
    background: #247ABF;
    color: #fff;
    font-size: 16px;
    margin: 5px auto 5px auto;
    text-align: center;
}

.button {
    display: block;
    width: 300px;
    height: 50px;
}

.div-two-cell {
    display: block;
    height: 50px;
    margin: 0 auto 10px auto;
}

#change_size_input {
    width: 145px;
    height: 48px;
}

#change_size {
    width: 145px;
    height: 50px;
}

.div-five-cell {
    display: block;
    height: 50px;
    width: 300px;
    margin: 5px auto 5px auto;
}

.five-cell {
    width: 56px;
    height: 50px;
    margin: 0;
}

#table_container {
    display: block;
    width: 600px;
    height: 600px;
    background-color: black;
    border: 5px solid black;
    margin: 0 auto 0 auto;
}

table {
    padding: 0;
    margin: auto;
    width: 600px;
    height: 600px;
    border-collapse: collapse;
    font-size: 20px;
    text-align: center;
}