* {
    background-color: #1891AC;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button, .button {
    appearance: none;
    border: 0;
    border-radius: 10px;
    background: #8D9091;
    color: #fff;
    font-size: 16px;

    display: block;
    margin: 10px auto 10px auto;

    width: 250px;
    height: 40px;
}

.button:hover {
    background: #666969;
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #cbd6ee;
}

.input_data_decision {
    margin: 0% 3%;
    background-color: aliceblue;
    height: 15%;
}

.input_data_training{
    margin: 3%;
    height: 5%;
}

.palette {
    margin: 1% 2%;
    width: 20%;
    height: 680px;
    border: 1px solid black;
}

.canvas {
    padding: 1%;
    margin: 1%;
    width: 60%;
    height: 680px;
    border: 5px solid gray;
}

.navigation {
    width: auto;
    height: 60px;
    
}

.main_body
{
    display: flex;
}







.tree ul {
	padding-top: 20px; 
    position: relative;
}

.tree li {
	float: left; 
    text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
}

.tree li::before, .tree li::after{
	content: '';
	position: absolute; 
    top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; 
    height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

.tree li:only-child{ 
    padding-top: 0;
}

.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}

.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
}

.tree li:first-child::after{
	border-radius: 5px 0 0 0;
}

.tree ul ul::before{
	content: '';
	position: absolute; 
    top: 0; 
    left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
    background: whitesmoke;
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #000;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	border-radius: 5px;
}

.tree li a:hover, .tree li a:hover+ul li a {
	background: #d0d0d0; 
    color: #000; 
    border: 1px solid #94a0b4;
}

.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}