* {
    background-color: #1891AC;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    line-height: 100px;
}

.wrapper {
    display: flex;
    align-items: center;    
    padding: 5% 30% 5% 5%;
    /* justify-content: center; */
    justify-content: space-between;
}

.pallete
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

canvas {
    background-color: aliceblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px;
}

.button, .button {
    appearance: none;
    border: 0;
    border-radius: 10px;
    background: #8D9091;
    color: #fff;
    font-size: 16px;

    display: block;
    margin: 10px auto 10px auto;

    width: 250px;
    height: 40px;
}


.button:hover {
    background: #666969;
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #cbd6ee;
}
